<!DOCTYPE html>
<html>
  <head>
    <title>App Flags</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://cdn-icons.flaticon.com/png/512/1916/premium/1916817.png?token=exp=1639137254~hmac=03a852791c03ef3ab22219b4c9c3eebc" alt="" width="30" height="24" class="d-inline-block align-text-top">
        App Flags
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to t('links.flags'), flags_path, class:"nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to t('links.regions'), regions_path, class:"nav-link"%>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <%=t('links.language') %> </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to t('links.english'), root_path(locale: 'en'), class:"nav-link" %> </li>
              <li><%= link_to t('links.portuguese'), root_path(locale:'pt-BR'), class:"nav-link" %></li>
            </ul>
          </li>
        </div>
      </div>
  </header>

  <div class="container-fluid">
    <%= yield %>
  </div>

  <footer id="main-footer">
    <p class="p-footer"> <%= t("links.footer1")%> </p>
    <p class="p2-footer">  <%= t("links.footer2") %> </p>
    <img id="img-footer" src="https://cdn-icons-png.flaticon.com/512/1383/1383269.png" alt="logo.whatsApp" width="25" height="25" class="d-inline-block align-text-top">

    
    

 </footer>
    
  </body>
</html>
